/* propriete general */
body{
background-color: #586d7d;
margin: 0;
padding : 0;

}

.titre{
margin-left: 100px;
margin-top: 40px;
color: rgb(219, 235, 131);
font-family: 'Oswald', sans-serif;
}



section{
height: auto;
width: 800px;
background-color: white;
margin-left: 300px;
}
.paragraphe1{
text-align: center;
font-size: 1.7em; 
font-family: 'Comic Neue', cursive;
}
.p2,.p3,.p4{
margin: 15px;
padding: 15px;
font-size: 1.4em; 
font-family: 'Comic Neue', cursive;
}
.p4{
margin: 15px;
padding: 15px;
font-size: 2.1em; 
font-family: 'Comic Neue', cursive;
color: brown;
}